@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: rgb(0, 0, 0);
    padding: 0% 15%;
}

h1 {
    color: blueviolet;
    text-align: center;
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    word-wrap: break-word;
    padding: 5px;
}

span.country {
    border: 1px solid rgb(0, 247, 255);
    background-color: aqua;
    color: black;
    border-radius: 7.5px;
}

div.post {
    
    border-radius: 20px;
    padding: 10px 10px;
    background-color: rgb(131, 131, 131);
}